.sort-main {
  margin: 0 2rem;
}

.sort-dropdown {
  height: 2rem;
  font-size: x-large;
  background-color: gray;
  color: #fff;
}

.radio-label {
  color: #FFE81F;
  padding: 0 0.5rem;
  font-size: x-large;
}

.radio-button {
  margin-right: 0.5rem;
}

.asc {
  accent-color: #2E67F8;
}

.desc {
  accent-color: red;
}

.sort-button {
  cursor: pointer;
  margin: 0 0.5rem;
  height: 2rem;
  width: 6rem;
  font-size: x-large;
  border: solid 2px #FFE81F;
  border-radius: 5px;
  background-color: #000;
  color: #FFE81F;
  z-index: 1;

  position: relative;
  transition: 1s ease-in;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 0;
    transition-duration: 1s;
    z-index: -1;
  }

  &:hover {
    color: red;
    border: solid 2px red;
    border-radius: 5px;
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 10px red, 0 0 10px red;
  }

  &:hover::before {
    width: 100%;
    border-radius: 5px;
    background-color: white;
  }
}